<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>M&M music</title>
</head>
<body>
    {% block content %}
    <h2>{{info_message}}</h2>
        <table>
            <thead>
            <tr>
                <th>Song Name</th>
                <th>Price</th>
                <th>Duration</th>
                <th>Avarage Vote</th>
                <th>Vote Count</th>
            </tr>
            </thead>
            {% for row in song_list %}

            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
</body>
</html>